{% extends 'base.html' %}

{% block bodyblock %}
    <div class="container">
        <br>
        <h3 class="content">Facial Recognition Application</h3>

        <p class="content">
        <br><strong>Gender Classification:</strong> <br><br>This application made by May Cooper harnesses the power of data and a sophisticated machine learning model. 
        When a user uploads an image, the app performs a series of operations in the background. <br><br>
        It converts the image to grayscale, crops the face region, transforms it into an eigen image, and utilizes a trained model for prediction. 
        All of these functionalities are seamlessly integrated into a Flask app, ensuring a smooth and user-friendly experience. 
        <br><br>
        The app's ability to accurately classify gender is a result of the advanced techniques employed behind the scenes, showcasing the potential of machine learning in real-world applications. 
    
    
        </p>
        <br>
        <img src="{{ url_for('static',filename='images/002.PNG') }}" alt="" width="600" height="230">
        <br>
        <div align="center">
            <a class="btn btn-outline-primary" href="{{ url_for('gender') }}">Try it now</a>
        </div>
       
    </div>


{% endblock  %}