{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br><br>
    <h3 class="content">Welcome to <span style="color:#198b90">May Cooper's Facial Recognition App Using OpenCV</span></h3>
    <br>
    <p>
        May Cooper is a visionary individual dedicated to leveraging the power of artificial intelligence and data-driven insights to make a positive impact.
        <br><br>
        Working in the field of data science, May is passionate about advancing the forefront of AI technology. Striving to push the boundaries of what is possible, May is constantly seeking to enhance the state of the art in artificial intelligence.
        <br><br>
        Believing in the transformative potential of technology, May actively seeks collaborations with like-minded organizations and individuals to address critical challenges and drive positive change.
        <br><br>
        With a strong commitment to using technology for the greater good, May is excited to continue making a meaningful impact through a data-driven approach.
    </p>
</div>

{% endblock %}
